Source: tc-exporter
Section: devel
Priority: optional
Maintainer: Francis Begyn <francis.begyn@gmail.com>
Uploaders: Francis Begyn <francis.begyn@gmail.com>
Build-Depends: debhelper (>= 11),
               dh-golang,
               golang-any,
               golang-gopkg-alecthomas-kingpin.v2-dev,
               golang-logrus-dev,
               golang-prometheus-client-dev,
               influxdb-dev
Standards-Version: 4.2.1
Homepage: https://github.com/fbegyn/tc_exporter
XS-Go-Import-Path: github.com/fbegyn/tc_exporter
Testsuite: autopkgtest-pkg-go

Package: tc-exporter
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: tc-exporter exposes tc statistics
 This exporter makes use of the netlink library to export tc statistics.
